<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Payment</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container theme-showcase" role="main">


    <div class="container">

      <form class="form-signin" method="post" action="/process">
        <h2 class="form-signin-heading">Please enter the payments</h2>
        <div class="form-group">
          <label for="inputDate" class="sr-only">Date</label>
          <input type="text" id="inputDate" name="Date" class="form-control" placeholder="Payment Date ex. 18-06-2002" required autofocus>
          
          <label for="inputAmount" class="sr-only">Amount</label>
          <input type="text" id="inputAmount" name="Amount" class="form-control" placeholder="Amount ex. 756.95" required>
          
          <label for="inputCoin" class="sr-only">Coin</label>
          <input type="text" id="inputCoin" name="Coin" class="form-control" placeholder="Coin ex. DOGE" required>
          
          <label for="inputAddress" class="sr-only">Address</label>
          <input type="text" id="inputAddress" name="Address" class="form-control" placeholder="Address ex. AAFwzhTtsu3ouxNrqJdatUwST1hG6VDkds" required>
          
          <label for="inputTxid" class="sr-only">Txid</label>
          <input type="text" id="inputTxid" name="Txid" class="form-control" placeholder="Txid ex. 980e5bb84094d874e2cf9627d8272ead89d451644c7d9b84f41d4e2f79ba44ff" required>

          <label for="inputPaymentType" class="sr-only">PaymentType</label>
          <input type="text" id="inputPaymentType" name="PaymentType" class="form-control" placeholder="Mining: 1 and Staking: 0" required>

          <label for="inputMonthperiod" class="sr-only">Monthperiod</label>
          <input type="text" id="inputMonthperiod" name="MonthPeriod" class="form-control" placeholder="Month Period Covered ex. 12 for December" required>

          <label for="inputYearperiod" class="sr-only">Yearperiod</label>
          <input type="text" id="inputYearperiod" name="YearPeriod" class="form-control" placeholder="Year Period Covered ex. 2008" required>
          
          <label for="inputDiscordID" class="sr-only">DiscordID</label>
          <input type="text" id="inputDiscordID" name="DiscordID" class="form-control" placeholder="DiscordID ex. 210913059231760384" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->
    </div>
  </body>
</html>
