<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Payment</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> 
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container theme-showcase" role="main">


    <div class="container">

      <form class="form-signin" method="post" action="/process">
        <h2 class="form-signin-heading">Please enter the payments</h2>
        <div class="form-group">
          <label for="inputDiscordID" class="sr-only">DiscordID</label>
          <input type="text" id="inputDiscordID" name="DiscordID" class="form-control" placeholder="DiscordID ex. 210913059231760384" required>


          <label for="qualification" class="sr-only">Date</label>
          <input type="text" id="qualification" name="Qualification" class="form-control" placeholder="Qualification" required autofocus>

          <label for="instructor" class="sr-only">Date</label>
          <input type="text" id="instructor" name="Instructor" class="form-control" placeholder="Instructor" required autofocus>

          <label for="module" class="sr-only">Date</label>
          <input type="text" id="module" name="Module" class="form-control" placeholder="Module" required autofocus>

          <label for="exam" class="sr-only">Date</label>
          <input type="text" id="exam" name="Exam" class="form-control" placeholder="Exam Date ex. 18-06-2002" required autofocus>

          <label for="workshop" class="sr-only">Date</label>
          <input type="text" id="workshop" name="Workshop" class="form-control" placeholder="Workshop Date ex. 18-06-2002" required autofocus>

          <label for="grade" class="sr-only">Date</label>
          <input type="text" id="grade" name="Grade" class="form-control" placeholder="Grade" required autofocus>
          

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->
    </div>
  </body>
</html>
